<br><br><br><br>

<div class="bg-dark">
  <p>cursos works!</p>

  <accordion>
    <div >
      <accordion-group heading="Static Header" >
        <div class="bg-danger">
          <p>This content is straight in the template.</p>
        </div>
      </accordion-group>
    </div>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>


  <nav class="nav">
    <a class="nav-link active  bg-info" href="#">Ativo</a>
    <a class="nav-link  bg-warning" href="#">Link</a>
    <a class="nav-link  bg-danger" href="#">Link</a>
    <a class="nav-link disabled  bg-success" href="#">Desativado</a>
  </nav>


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://static.wikia.nocookie.net/grandchase/images/6/63/Dio_Wings.png/revision/latest?cb=20121121201035&path-prefix=pt-br" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Link do card</a>
      <a href="#" class="card-link">Outro link</a>
    </div>
  </div>
</div>