<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->

<div class="teste">
  <h1>Hello world</h1>
  <h2>testeh2</h2>
</div>

<nav class="nav">
  <a routerLink="" class="nav-link active  bg-info" href="#">HOME</a>
  <a routerLink="/cursos" class="nav-link  bg-warning" href="#">Link</a>
  <a routerLink="/login" class="nav-link  bg-danger" href="#">Link</a>
  <a routerLink="/home" class="nav-link  bg-success" href="#">Desativado</a>
</nav>

<div>
  <app-output-property [nome]="nomedoCurso">
    {{ nomedoCurso }}
    
    <!-- só conseguimos isnerir esse valor dentro da tag p dentro de uma tag personalizada porque la dentro do componente dessa tag existe o ng-component que ele aguar um valor fora do componente -->
    <p class="titulo">Inserindo valor na tag personalizada</p>
    <!-- podemos inserir ate outra tag personalizada aqui dentro por, utilizando o ng content -->

    <p class="corpo">OUTRO VALOR DENTRO DA TAG PERSONALIZADA</p>
  </app-output-property>
</div>

<router-outlet></router-outlet>




