.ciclo{
    color: red;
}
.uma{
    color: rgb(0, 255, 42);
}
.duas{
    color: red;
}
.tres{
    background-color: crimson;
    color: cyan;
}
.letra{
    color: rgb(247, 247, 247);
}
.fundo{
    background-color: royalblue; 
}

.active{
    color: blueviolet;
}