<p class="ciclo">ciclo works!</p>
<h5>usando Ngif</h5>

<!-- caso tenha algum elemento dentro do array de curso faca algo, isso é oque ele quer dizer aqui -->
<div *ngIf="cursos.length > 0">
    Lista de cursos
    {{ cursos[0] }}
</div>

<!-- OBS !!! se caso for usar o else nao existe else no angular temos que negar usando o ! -->

<!-- como realmnte nao tem valores ou (elementos) dentro do array de cursos de fato vai printar os valores que estao dentro da div -->
<div *ngIf="cursos.length == 2">
    Não ha cursos para serem listados
    LOGCA
</div>


<div *ngIf="mostrarcursos == true">
    usando o boolean
    Não ha cursos para serem listadosAQUI
</div>

<!-- RELEBRANDO ! - Usando o ! estamos negando alguma condicao logo estamos dizendo caso a condicao seja false faça algo -->
<div *ngIf="!mostrarcursos">
    Usando boolean com !
</div>

<div *ngIf="mostrarcursos">
    Usando boolean com sem o !
</div>

<br>
<!-- Aqui quando usuario clica a variavel mostrar cursos recebe outro valor que no caso negativo assim podemos mostrar ou ocultar as tags de cima -->
<button (click) = "MostrarOuEsconder()" >Mostrar ou esconder cursos </button>

<!-- aqui queremos dizer o seguinte, se a variavel for falsa(usando o !) aplica o hidden -->
<div [hidden]="!olhaohidden">
    <h1>Hidden mostrar ou nao</h1>
</div>


<!-- estamos dizendo que caso a variavel Qualaba tiver valor home a classe dessa tag sera ativada
ja no click, caso a funcao clica for acionada a variavel Qualaba irá receber o valor home -->
<nav class="nav nav-pills">
    <a class="nav-link active uma" [class.active]="Qualaba == 'home'" (click) = "Qualaba = 'home'">Active</a>
    <a class="nav-link bg-dark duas" [class.duas]="Qualaba == 'home2'" (click) = "Qualaba = 'home2'">Link2</a>
    <a class="nav-link tres" [class.tres]="Qualaba == 'home3'" (click) = "Qualaba = 'home3'">Link3</a>
    <a class="nav-link" >Disabled</a>
</nav>

<!-- Switchcase no angular funciona direto no html, devemos primeiro dizer qual variavel referencia iremos usar -->
<!-- apos isso inserimos o switchCase , caso o valor da variavel seja tal, iremos fazer tal coisa, neste caso iremos motrar a a tag p -->
<div class="container" [ngSwitch]="Qualaba || kaioken">
    <p *ngSwitchCase=90 >Home defaultOK</p>
    <p *ngSwitchCase="'home2'" >Home default2222ASD</p>
    <p *ngSwitchCase="'home3'" >Home default33333SKQIOL</p>
    <p *ngSwitchCase="'true'" >Home TRUE</p>
    <p *ngSwitchDefault >Padrao home</p>

</div>

<div>
    <p>{{ Listaitens }}</p>
</div>

<!-- aqui so podemos usar o for utilizando o let, se nao usar o let nao iremos conseguir usar o for  -->
<ul>
    <li *ngFor="let i of Listaitens">
        <span>{{ i }}</span>
    </li>
</ul>

<!-- obiviamente se colocar uma varaivel array de outro componente nao irá dar certo ate porque esse compoente nao esta vendo o outro componente com a variavel de array logo temos que usar o modulo -->
<ul>
    <li *ngFor="let i of cursos">
        <span>{{ i }}</span>
    </li>
</ul>

<input type="text" [(ngModel)]="teste10">
<button (click) = "here2()"> here
    <h1>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-archive" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </h1>
    
</button>

<br><br><br>
<input type="number" [(ngModel)]="teste10">
<!-- <h2 [defaultt]='90'>TESTE {{ teste10 }}</h2> -->


<!-- adicionado ou removendo classes na tag div -->
<div [ngClass]="{'letra':mostrarcursos,'fundo':!mostrarcursos}">This div is initially saveable, unchanged, and special.</div>

<div>
    <p [ngStyle]="{'color':(mostrarcursos? 'white' : 'blue'),'background':(mostrarcursos? 'yellow' : 'white'),'fontSize': Fonte + 'px','height': Fonte + 'px'}" >Irei mudar quando for clicar</p>

    <button (click)="Mudou(Fonte)">CLick</button>
    <input type="text" [(ngModel)]="Fonte">
</div>

<p>{{tarefa.desc }}</p>
<!-- na linha de baixo estamos dizendo que se o valor responsavel for diferente de numero entao mostra na tela aspas vazia -->
<p>Resonsavel: {{ tarefa.responsavel != null ? tarefa.responsavel.nome : 'okok' }}</p>
<!-- ai temos esse metodo que se chama elvis, usamos ele para verificar se ha valor nulo dentro de alguma variavel para nao da erro na hora de printar -->

<!-- na linha de baixo é usado o famoso (elvis) , usamos o acento ? para dizer, se existir nulo em responsave e usuario nao printar nada se exisitr valor printa alguma coisa
isso serve porque possa existir nulo e quebrar ou dar erro no codigo -->
<p>Responsavel: {{ tarefa.responsavel?.usuario?.nome }} </p>
<!-- <mat-checkbox checked="true">Angular Checkbox Checked</mat-checkbox> -->

